:root {
  --background-color: #fff;
  --text-color: #A77969;
  --display: block;
  --dis: none;
  --blend: normal;
  --img: url("../images/white.jpg");
  --back: url("../images/rose1.png");
  --dlayer: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme=dark] {
  --background-color: #2D2D2D;
  --text-color: #FADFDA;
  --display: none;
  --dis: block;
  --blend: soft-light;
  --img: url("../images/dark.jpg");
  --back: none;
  --dlayer: block;
}

@font-face {
  font-family: "light";
  src: url(fonts/LightBT.ttf);
}
@font-face {
  font-family: "dubai";
  src: url(fonts/SC_DUBAI.ttf);
}
.main .girlImg {
  width: 100%;
  background-image: var(--img);
}
.main .mask {
  position: absolute;
  top: 0px;
  width: 100%;
  right: 0px;
}
.main .cls-3,
.main .cls-2,
.main .cls-1 {
  fill: #Fff;
  -webkit-animation: glow linear 0.9s infinite;
  animation: glow linear 0.9s infinite;
}
@-webkit-keyframes glow {
  0% {
    fill: #fff;
  }
  50% {
    fill: #ffead9;
  }
  100% {
    fill: #FADFDA;
  }
}
@keyframes glow {
  0% {
    fill: #fff;
  }
  50% {
    fill: #ffead9;
  }
  100% {
    fill: #FADFDA;
  }
}
.main .headingSparkle1 {
  color: #C1A46C;
  background-image: url(../svg/brush2.svg);
  background-repeat: no-repeat;
  font-size: 9rem;
  padding-left: 6rem;
  padding-right: 3rem;
  background-position-y: 33px;
  padding-bottom: 1rem;
  font-family: "light";
  position: absolute;
  top: 4rem;
  left: 2rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .headingSparkle1 {
    font-size: 6rem;
    padding-left: 3rem;
    background-position-y: 14px;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .main .headingSparkle1 {
    padding-left: 3rem;
    top: 2rem;
    background-position-y: 5px;
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .main .headingSparkle1 {
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-position-y: 4px;
    top: 1rem;
    left: 0rem;
  }
}
.main .headingSparkle1::after {
  content: "clinic by Amena";
  color: #A77969;
  font-size: 1.5rem;
  bottom: 16px;
  position: absolute;
  width: 100%;
  left: 12rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .headingSparkle1::after {
    font-size: 1.2rem;
    bottom: 15px;
    left: 7rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .main .headingSparkle1::after {
    font-size: 1rem;
    bottom: 10px;
    left: 6rem;
  }
}
@media (max-width: 576px) {
  .main .headingSparkle1::after {
    font-size: 0.7rem;
    bottom: 11px;
    left: 3.5rem;
  }
}
.main .headingSparkle {
  color: #A77969;
  position: absolute;
  font-size: 7vw;
  background-image: url(../svg/brush2.svg);
  top: 5rem;
  left: 5%;
  background-repeat: no-repeat;
  background-position: 0rem 3rem;
  padding: 2rem 6rem;
}
.main .text {
  color: var(--text-color);
  position: absolute;
  top: 17rem;
  font-size: 3.5rem;
  max-width: 24rem;
  left: 7rem;
  z-index: 3;
  font-weight: lighter;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main .text {
    top: 17rem;
    font-size: 3rem;
    max-width: 21rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .text {
    font-size: 2rem;
    top: 13rem;
    max-width: 14rem;
    left: 5rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .main .text {
    font-size: 1.5rem;
    top: 9rem;
    max-width: 10rem;
    left: 5rem;
  }
}
@media (max-width: 576px) {
  .main .text {
    font-size: 1rem;
    max-width: 7rem;
    left: 2rem;
    top: 5rem;
  }
}

.rose-home {
  width: 16%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .rose-home {
    width: 13%;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.home-ul {
  position: absolute;
  top: 10px;
  right: -30px;
  list-style: none;
  text-decoration: none;
}
.home-ul li {
  transform: rotate(90deg);
  padding: 3rem 0rem;
}
.home-ul li a {
  color: #A77969;
  text-decoration: none;
  font-size: 1.5rem;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .home-ul li a {
    font-size: 1.2rem;
    padding: 2.2rem 0rem;
  }
}
@media (max-width: 576px) {
  .home-ul li a {
    padding: 0px 15px;
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .home-ul li {
    padding: 1.6rem 0rem;
  }
}
@media (max-width: 576px) {
  .home-ul {
    top: 3px;
    right: -25px;
  }
}

.over {
  overflow: hidden;
}

.img-gradient {
  /*     	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab ,#ff6700,#ffd400,#5000ff,#ff2727);*/
  background: linear-gradient(-45deg, #ffd400, #ff6700, #5000ff, #23a6d5, #23d5ab, #ee7752);
  -webkit-animation: gradient 5s infinite both alternate;
          animation: gradient 5s infinite both alternate;
  width: 15vw;
  background-size: 200% 200%;
  /*
     background-image: linear-gradient(to right, red , yellow);
    animation-name: example;
       animation-duration: 4s;
  animation-iteration-count: infinite;
  */
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gr {
  background: -webkit-linear-gradient(#dcc7b2, #a77969);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  width: 100%;
  background-color: #FADFDA;
  justify-content: space-between;
  padding: 0.4rem 0.5rem;
}
.header .spanSparkle {
  color: #A77969;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: "light";
}
.header .spanSparkle .gradient {
  background: -webkit-linear-gradient(#dcc7b2, #a77969);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 576px) {
  .header .spanSparkle {
    font-size: 1.5rem;
    padding-left: 0.3rem;
  }
}
.header .ulLinks {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.header .ulLinks li {
  padding: 0rem 1rem;
}
@media (max-width: 576px) {
  .header .ulLinks li {
    padding: 0rem 0.4rem;
  }
}
.header .ulLinks li a {
  color: #665a4d;
  text-decoration: none;
}
@media (max-width: 576px) {
  .header .ulLinks li a {
    font-size: 13px;
  }
}

.imgClean {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  top: 2rem;
  height: calc(100vh - 2rem);
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .imgClean {
    opacity: 0.3;
  }
}
@media (max-width: 576px) {
  .imgClean {
    opacity: 0.3;
  }
}

.contactus {
  color: #AD906C;
  background-image: url(../svg/brush2.svg);
  background-repeat: no-repeat;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  font-family: "light";
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contactus {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contactus {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
  }
}
@media (max-width: 576px) {
  .contactus {
    font-size: 2.5rem;
    padding-bottom: 1.8rem;
    text-align: center;
    background-position: 50%;
  }
}

.dermaheadinpara {
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .dermaheadinpara {
    font-size: 1rem;
  }
}

.dermaheading {
  color: #C1A46C;
  background-image: url(../svg/brush2.svg);
  background-repeat: no-repeat;
  font-size: 4rem;
  padding-bottom: 0rem;
  margin-top: 2rem;
  font-family: "light";
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .dermaheading {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .dermaheading {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
  }
}
@media (max-width: 576px) {
  .dermaheading {
    font-size: 2.5rem;
    padding-bottom: 1.8rem;
    text-align: center;
    background-position: 50%;
  }
}

.lazerheading {
  color: #C1A46C;
  background-image: url(../svg/brush2.svg);
  background-repeat: no-repeat;
  font-size: 4rem;
  padding-bottom: 0rem;
  margin-top: 2rem;
  padding-left: 4rem;
  font-family: "light";
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .lazerheading {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
    padding-left: 0rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .lazerheading {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
    padding-left: 0rem;
  }
}
@media (max-width: 576px) {
  .lazerheading {
    font-size: 2.5rem;
    padding-bottom: 1.8rem;
    text-align: center;
    background-position: 50%;
    padding-left: 0rem;
  }
}

.contactrose {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 43vh;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contactrose {
    width: 35vh;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contactrose {
    width: 30vh;
    display: none;
  }
}
@media (max-width: 576px) {
  .contactrose {
    width: 23vh;
    display: none;
  }
}

.contactUl {
  list-style-type: none;
}
.contactUl .contaLi img {
  width: 1.5rem;
  margin-right: 1rem;
  margin-top: -10px;
}
@media (max-width: 576px) {
  .contactUl .contaLi img {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
.contactUl .contaLi span {
  font-size: 1.8rem;
  color: var(--text-color);
  font-family: "light";
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contactUl .contaLi span {
    font-size: 1.3rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contactUl .contaLi span {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .contactUl .contaLi span {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .contactUl .contaLi span .phone {
    display: block;
    margin-left: 1.66rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contactUl .contaLi {
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .contactUl .contaLi {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contactUl {
    max-width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contactUl {
    max-width: 60%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contactUl {
    width: 66%;
  }
}
@media (max-width: 576px) {
  .contactUl {
    padding: 0.5rem;
  }
}

.levant {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .levant {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .levant {
    width: 50%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .levant {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .levant {
    width: 70%;
  }
}

.aboutUsParaghraph {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 55%;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .aboutUsParaghraph {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .aboutUsParaghraph {
    width: 45%;
    font-size: 1.3rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .aboutUsParaghraph {
    width: 80%;
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .aboutUsParaghraph {
    width: 90%;
    font-size: 1.1rem;
  }
}

.btnlightdark {
  width: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  margin-top: 0.5rem;
}
.btnlightdark .imglight {
  width: 1.5rem;
  cursor: pointer;
  display: var(--display);
}
.btnlightdark .imgdark {
  width: 1.5rem;
  cursor: pointer;
  display: none;
  display: var(--dis);
}

.servicaname {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .servicaname {
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .servicaname {
    font-size: 1.5rem;
    text-align: center;
    display: block;
  }
}

.serviceExplain {
  font-size: 1.3rem;
  position: relative;
  padding-right: 10%;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .serviceExplain {
    font-size: 1.2rem;
    padding-right: 0rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .serviceExplain {
    font-size: 1.1rem;
    padding-right: 0rem;
    text-align: center;
  }
}

.serviceExplain::before {
  content: url("../svg/leaves4.svg");
  width: 12rem;
  position: absolute;
  left: -44px;
  top: -5rem;
  -webkit-animation: rotation 1.5s infinite linear alternate;
          animation: rotation 1.5s infinite linear alternate;
  z-index: -1;
}
@media (max-width: 576px) {
  .serviceExplain::before {
    width: 8rem;
    left: -14px;
    top: -3rem;
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.serviceExplain3 {
  font-size: 1.3rem;
  position: relative;
  padding-right: 10%;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .serviceExplain3 {
    font-size: 1.2rem;
    padding-right: 0rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .serviceExplain3 {
    font-size: 1.1rem;
    padding-right: 0rem;
    text-align: center;
  }
}

.serviceExplain3::before {
  content: url("../svg/keaves2.svg");
  width: 12rem;
  position: absolute;
  left: -44px;
  top: -5rem;
  z-index: -1;
  -webkit-animation: rotation 1.5s infinite linear alternate;
          animation: rotation 1.5s infinite linear alternate;
}
@media (max-width: 576px) {
  .serviceExplain3::before {
    width: 8rem;
    left: -14px;
    top: -4rem;
  }
}

.secoundservics {
  font-size: 1.3rem;
  position: relative;
  padding-right: 10%;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .secoundservics {
    font-size: 1.2rem;
    padding-right: 0rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .secoundservics {
    font-size: 1.1rem;
    padding-right: 0rem;
    text-align: center;
  }
}

.secoundservics::before {
  content: url("../svg/leaves3.svg");
  position: absolute;
  width: 8rem;
  right: 45px;
  top: -5rem;
  -webkit-animation: rotation 1.5s infinite linear alternate;
          animation: rotation 1.5s infinite linear alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 576px) {
  .secoundservics::before {
    width: 6rem;
    right: 7px;
    top: -1rem;
  }
}

.serviceExplain4 {
  font-size: 1.3rem;
  position: relative;
  padding-right: 10%;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .serviceExplain4 {
    font-size: 1.2rem;
    padding-right: 0rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .serviceExplain4 {
    font-size: 1.1rem;
    padding-right: 0rem;
    text-align: center;
  }
}

.serviceExplain4::before {
  content: url("../svg/leaves1.svg");
  position: absolute;
  width: 8rem;
  right: 45px;
  top: -5rem;
  z-index: -1;
  -webkit-animation: rotation 1.5s infinite linear alternate;
          animation: rotation 1.5s infinite linear alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 576px) {
  .serviceExplain4::before {
    top: -3rem;
  }
}

.serviceImg {
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 19rem;
  max-width: 100%;
  box-shadow: 11px 11px #FADFDA;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .serviceImg {
    display: block;
    margin: auto;
    order: 1;
    width: 300px;
    height: 23rem;
    margin-top: 0rem;
  }
}
@media (max-width: 576px) {
  .serviceImg {
    display: block;
    margin: auto;
    order: 1;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 577px) and (max-width: 767.98px) {
  .order2 {
    order: 2;
  }
}
@media (max-width: 576px) {
  .order2 {
    order: 2;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.f {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.rose1 {
  width: 100%;
  mix-blend-mode: var(--blend);
  position: absolute;
  top: 0;
  right: 0px;
  z-index: -1;
}
@media (max-width: 576px) {
  .rose1 {
    height: 16rem;
  }
}

.contact-img {
  width: 2rem;
  margin-right: 1rem;
  margin-top: -5px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contact-img {
    width: 1.5rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .contact-img {
    width: 1.5rem;
  }
}
@media (max-width: 576px) {
  .contact-img {
    width: 1.3rem;
    margin-right: 0.3rem;
  }
}

.l {
  position: absolute;
  top: 40%;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .l {
    top: 25%;
    padding-left: 2rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .l {
    top: 10%;
    padding-left: 2rem;
  }
}
@media (max-width: 576px) {
  .l {
    top: 10px;
    padding-left: 1rem;
  }
}

.spancon {
  font-size: 1.5rem;
  color: #A77969;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spancon {
    font-size: 1.2rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .spancon {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .spancon {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .order11 {
    order: 1;
  }
}

@media (max-width: 576px) {
  .order22 {
    order: 2;
  }
}

@media (max-width: 576px) {
  .order3 {
    order: 3;
  }
}

@media (max-width: 576px) {
  .order4 {
    order: 4;
  }
}

@media (max-width: 576px) {
  .order5 {
    order: 5;
  }
}

.levant1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  bottom: 0;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .levant1 {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .levant1 {
    width: 50%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .levant1 {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .levant1 {
    width: 70%;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
}
.slideshow-container img {
  height: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  display: block;
  box-shadow: 16px 16px #FFEAD9;
}
@media (max-width: 576px) {
  .slideshow-container img {
    width: 90%;
  }
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.whysparkle {
  color: #A77969;
  font-size: 5rem;
  padding-left: 1rem;
  background-image: url(../svg/bruchrose.svg);
  background-repeat: no-repeat;
  font-family: "light";
  padding-bottom: 2rem;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .whysparkle {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .whysparkle {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .whysparkle {
    display: none;
  }
}
@media (max-width: 576px) {
  .whysparkle {
    display: none;
  }
}

.whysparklesmall {
  color: #A77969;
  font-size: 5rem;
  padding-left: 1rem;
  background-image: url(../svg/bruchrose.svg);
  background-repeat: no-repeat;
  font-family: "light";
  padding-bottom: 2rem;
  text-align: center;
  background-position: center;
  display: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .whysparklesmall {
    display: block;
    font-size: 4rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .whysparklesmall {
    display: block;
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .whysparklesmall {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

.video {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .video {
    width: 80%;
    display: block;
    margin: auto;
  }
}

.para {
  margin-top: 0rem;
  font-size: 1.2rem;
  z-index: 2222222222222222000000000000000000000;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .para {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .para {
    font-size: 1rem;
  }
}

.backimg {
  background: var(--back);
  background-position-y: -34rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .backimg {
    background-position-y: -40rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .backimg {
    background-position-y: -22rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .backimg {
    background-position-y: -25rem;
  }
}
@media (max-width: 576px) {
  .backimg {
    background-position-y: -32rem;
  }
}

.padding3 {
  padding: 5rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .padding3 {
    padding: 2rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .padding3 {
    padding: 2rem;
  }
}
@media (max-width: 576px) {
  .padding3 {
    padding: 2rem;
  }
}

.padserv {
  padding: 0rem 5rem;
}
@media (max-width: 576px) {
  .padserv {
    padding: 0rem 2rem;
  }
}

.rose2 {
  width: 17%;
  position: absolute;
  z-index: 22222;
  bottom: 0;
  right: 0;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .rose2 {
    display: none;
  }
}
@media (max-width: 576px) {
  .rose2 {
    display: none;
  }
}

#more {
  display: none;
}

#myBtn {
  background-color: transparent;
  color: #A77969;
  border: none;
  font-weight: bold;
  z-index: 100000000000000000000;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orderrr1 {
    order: 1;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .orderrr1 {
    order: 1;
  }
}
@media (max-width: 576px) {
  .orderrr1 {
    order: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orderr2 {
    order: 2;
    margin-top: 42rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .orderr2 {
    order: 2;
    margin-top: 42rem;
  }
}
@media (max-width: 576px) {
  .orderr2 {
    order: 2;
    margin-top: 39rem;
  }
}

.text2 {
  font-size: 2.4rem;
  display: block;
  color: #A77969;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .text2 {
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .text2 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .text2 {
    font-size: 2rem;
    text-align: center;
  }
}

.ourser {
  color: #C1A46C;
  background-image: url(../svg/brush2.svg);
  background-repeat: no-repeat;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  position: relative;
  font-family: "light";
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .ourser {
    font-size: 4rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .ourser {
    font-size: 4rem;
    text-align: center;
    background-position-x: 50%;
  }
}
@media (max-width: 576px) {
  .ourser {
    font-size: 2.5rem;
    padding-bottom: 1.8rem;
    text-align: center;
    background-position: 50%;
  }
}

.viewAll {
  position: absolute;
  top: 5rem;
  left: 6.3rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #A77969;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .viewAll {
    top: 4rem;
    left: 44%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .viewAll {
    top: 3.5rem;
    left: 44%;
  }
}
@media (max-width: 576px) {
  .viewAll {
    top: 2.2rem;
    left: 44%;
    font-size: 1rem;
  }
}

.viewAll:hover,
.active {
  color: #A77969;
}

.layer {
  background-color: rgba(45, 45, 45, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: var(--dlayer);
}

.layer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, black);
  border-bottom: 1px solid transparent;
  border-radius: 1rem;
  opacity: 0.7;
}

.bac {
  background-image: url(../images/rose.png);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 12rem 0rem;
  background-position-y: bottom;
  position: relative;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .bac {
    margin-top: 6rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .bac {
    padding: 7rem 0rem;
    margin-top: 9rem;
  }
}
@media (max-width: 576px) {
  .bac {
    padding: 4rem 0.6rem;
    margin-top: 6rem;
  }
}

.fat {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .fat {
    flex-direction: column;
    margin-top: 0rem;
  }
}
@media (max-width: 576px) {
  .fat {
    flex-direction: column;
    margin-top: 0rem;
  }
}

.w-90 {
  width: 800px;
  margin: auto;
  max-width: 100%;
}

@media (min-width: 577px) and (max-width: 767.98px) {
  .pad {
    padding: 0.3rem;
  }
}
@media (max-width: 576px) {
  .pad {
    padding: 0.2rem;
  }
}

#moree {
  display: none;
}

.btnmore {
  border: 1px solid transparent;
  background-color: #FADFDA;
  color: #a77969;
  padding: 0.3rem 0.6rem;
  width: 7rem;
  display: block;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .btnmore {
    margin: auto;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .btnmore {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .btnmore {
    margin: auto;
  }
}

.serviceLeaves {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  z-index: -677;
}

.serviceRose {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .serviceRose {
    bottom: -12rem;
    left: 0px;
    width: 16%;
    z-index: -2;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .serviceRose {
    bottom: -14rem;
    width: 22%;
    z-index: -2;
  }
}
@media (max-width: 576px) {
  .serviceRose {
    bottom: -15rem;
    width: 24%;
    z-index: -27;
  }
}

.img1 {
  position: absolute;
  top: -4rem;
  left: 4rem;
  width: 14rem;
  z-index: -1;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img1 {
    left: 5rem;
    width: 12rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img1 {
    top: 1rem;
    left: 6rem;
    width: 12rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .img1 {
    top: 0rem;
    left: 1rem;
    width: 13rem;
  }
}
@media (max-width: 576px) {
  .img1 {
    top: 0rem;
    left: 0rem;
    width: 8rem;
  }
}

.img2 {
  width: 15rem;
  position: absolute;
  right: 22%;
  z-index: -1;
  top: -2rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img2 {
    right: 4%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img2 {
    width: 14rem;
    right: 12%;
    top: 3rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .img2 {
    width: 10rem;
    right: -2%;
    top: 2rem;
  }
}
@media (max-width: 576px) {
  .img2 {
    width: 11rem;
    right: 0rem;
    top: 1rem;
  }
}

.img3 {
  width: 20rem;
  z-index: 222;
  position: absolute;
  left: 25%;
  top: 3rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img3 {
    width: 19rem;
    left: 27%;
    top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img3 {
    left: 28%;
    top: 6rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .img3 {
    width: 22rem;
    left: 20%;
    top: 5rem;
  }
}
@media (max-width: 576px) {
  .img3 {
    width: 22rem;
    left: 6%;
    top: 18rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.img5,
.img6,
.img7 {
  width: 20rem;
  z-index: 222;
  position: absolute;
  left: 25%;
  top: 3rem;
  z-index: -9999;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img5,
.img6,
.img7 {
    width: 19rem;
    left: 27%;
    top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img5,
.img6,
.img7 {
    left: 28%;
    top: 6rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .img5,
.img6,
.img7 {
    width: 22rem;
    left: 20%;
    top: 5rem;
  }
}
@media (max-width: 576px) {
  .img5,
.img6,
.img7 {
    width: 22rem;
    left: 6%;
    top: 18rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.img4 {
  position: absolute;
  width: 17rem;
  left: 3rem;
  top: 18rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img4 {
    width: 15rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img4 {
    width: 15rem;
    left: 4rem;
    top: 22rem;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .img4 {
    width: 12rem;
    left: -1rem;
    top: 22rem;
  }
}
@media (max-width: 576px) {
  .img4 {
    width: 12rem;
    left: 0rem;
    top: 20rem;
  }
}

.marginbottom20 {
  height: 50rem;
}

.imgNext {
  position: absolute;
  top: 32rem;
  right: 36%;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-flex;
  background-color: transparent;
  border-color: transparent;
  color: #A77969;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .imgNext {
    top: 33rem;
    right: 33%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .imgNext {
    top: 35rem;
    right: 30%;
  }
}
@media (max-width: 576px) {
  .imgNext {
    top: 33rem;
    right: 29%;
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
}

.div1 {
  display: none;
}

.div2 {
  display: none;
}

.div3 {
  display: block;
}

.div4 {
  display: none;
}

.div5 {
  display: none;
}

.div6 {
  display: none;
}

.div7 {
  display: none;
}

.text11 {
  display: none;
}

@media screen and (max-width: 430px) {
  .padding3 {
    padding: 0.5rem;
  }
  .img3 {
    width: 15rem;
    top: 12rem;
  }
  .img2 {
    width: 7rem;
    right: -1rem;
  }
  .img4 {
    width: 7rem;
    left: -1rem;
    top: 14rem;
  }
  .img1 {
    left: -1rem;
    width: 7rem;
  }
  .img5,
.img6,
.img7 {
    width: 15rem;
    top: 12rem;
  }
  .imgNext {
    top: 22rem;
  }
  .orderr2 {
    margin-top: 25rem;
  }
  .text2 {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
  }
  .serviceRose {
    bottom: -6rem;
    width: 29%;
  }
  .para {
    margin-top: 2rem;
  }
  .slideshow-container {
    width: 80%;
  }
  .slideshow-container img {
    height: 28rem;
  }
}/*# sourceMappingURL=style.css.map */